body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rbg(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.float-left {
  margin: 0;
  padding: 0;
}

#city {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
}

ul {
  margin: -33px;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}
